body,h1,h2,h3,h4,h5,h6 
{
      font-family: "Lato", sans-serif;
}

body, html 
{
      height: 100%;
      color: #777;
      line-height: 1.8;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 
{
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.bgimg-1 
{
      background-image: url("./images/mit.jpg");
      min-height: 100%;
}
      
.bgimg-2 
{
      background-image: url("./images/back1.jpg");
      min-height: 400px;
}

.bgimg-3 
{
      background-image: url("./images/certi.jpeg");
      min-height: 400px;
}

.bgimg-4 
{
      background-image: url("./images/artcover.jpg");
      min-height: 400px;
}

.bgimg-5 
{
      background-image: url("./images/chesscover.jpg");
      min-height: 400px;
}

.w3-wide 
{
      letter-spacing: 10px;
}
      
@media only screen and (max-device-width: 2560px) 
{
      .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 
      {
            background-attachment: scroll;
            min-height: 400px;
      }
}

.mySlides 
{
      display:none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
}

.button
{
      background-color: #33d6ff; 
      color: black; 
      padding: 14px 25px; 
      text-align: center;
      width: 100%;
      border: none;
      font-weight: bold;
}

a
{
      text-decoration: none;
}

.para
{
      text-align: justify;
}

#github
{
      margin-top: 64px;
}
      
.certificate-image:hover 
{
      transform: scale(1.15);
}

#lichess-org, #chess-com
{
      margin-top: 32px;
}
